/* color config */
$blue: #1fb6ff;
$purple: #7e5bef;
$pink: #ff49db;
$orange: #ff7849;
$green: #13ce66;
$yellow: #ffc82c;
$gray-dark: #273444;
$gray: #8492a6;
$gray-light: #d3dce6;
$shadow-gray: rgba(31, 31, 31, 0.2);

/* font config */
$fontFamily: 'Inter', sans-serif;

/* screens config */
$sm: 480px;
$md: 768px;
$lg: 976px;
$xl: 1440px;
$xlx: 1536px;

/* space config */
$sl: 8px;
$ml: 12px;
$l: 16px;
$lx: 24px;
$lxx: 32px;
$ll: 48px;

/* shadow config */
$o-x: 0px;
$o-y: 2px;
$b-r: 4px;
$s-r: 1px;