@import 'config';

/* reset style of elements */
html {
    font-size: $l;
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
li {
    list-style: none;
}
input,
button,
textarea,
select {
    font-family: inherit;
    font-size: 100%;
}
textarea {
    overflow: auto;
}